{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmafeatures": {
      //允许在全局作用域下使用return语句
      "globalReturn": false,
      //启用全局strict模式（严格模式）
      "impliedStrict": false,
      //启用JSX
      "jsx": false,
      //启用对实验性的objectRest/spreadProperties的支持
      "experimentalObjectRestSpread": false
    }
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:json/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "global-require": 0,
    "no-debugger": 0,
    "no-console": 0,
    "comma-dangle": ["error", "never"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "vue/no-unused-vars": "error"
  }
}
